
# Create a .env file and add env on this way
# General container name prefix
CONTAINER_NAME=wplocal

# MySQL Database configuration
DATABASE_NAME=db
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_ROOT_PASSWORD=root

# Optional: Hostname (used in nginx env)
HOSTNAME=host.docker.internal
